.login-head {
    margin: 50px;
}

.google-button {
    padding: 20px;
    background: #e8e8e8;
    border-radius: 5px;
    margin-top: 50px;
    font-weight: 700;
    text-decoration: none;
    color: #333;
box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.google-icon {
    width: 20px;
    height: 20px;
    margin: 0;
    margin-right: 10px;
}